* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

.container {
	max-width: 1200px;
	width: 80%;
	margin: 0 auto;
}
.header {
	background-color: #f6f6f9;
	padding: 44px 120px;
}

.header-top {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.currency-list {
	display: flex;
	align-items: center;
	gap: 17px;
}
.logo {
	width: 21vw;
}
.buttons {
	display: flex;
	align-items: center;
	gap: 10px;
}
.search,
.language {
	background-color: #fff;
	padding: 3px 6px;
}
.btn {
	background: linear-gradient(90deg, #1e96c8 15.07%, #37aee2 85.96%);
	border-radius: 5px;
	display: flex;
	padding: 10px;
}
.btn img {
	margin-right: 7px;
}

.navbar-list {
	margin-top: 40px;
	display: flex;
	background-color: #fff;
	box-shadow: 0px 2px 5px rgba(159, 159, 159, 0.19);
	border-radius: 5px;
	padding: 21px 24px;
	gap: 10px;
}
.navbar-item {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 23px;

	color: #515151;
}
.header-banner {
	margin-top: 18px;
}
.header-banner img {
	width: 100%;
}
